@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
  font-family: "Share Tech Mono", monospace;
  color: white;
  background-color: black;
}

a{
  color: white;
  text-decoration: none;
}

.projects{
  margin-left: 3%;
  margin-top: 20px;
}

.title{
  background-color: #58E29B;
  color: #000;
  font-size: 4rem;
}

#project-item{
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 3px double #FFCB00;
}

#project-item img{
  padding: 10px;
  width: 160px;
}

#project-item a{
  padding: 0px;
  transition: 0.1s
}

#project-item a:hover{
  border-left: 5px double #FFCB00;
  transition: 0.1s
}


#clock{
  position: absolute;
  font-size: 3rem;
  bottom: 5%;
  right: 5%;
}